<!--<?xml version="1.0" encoding="utf-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns:ds="http://code.360buy.com/schema/datasource"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd-->
	<!--http://code.360buy.com/schema/datasource http://code.360buy.com/schema/datasource/datasource.xsd-->
	<!--http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"-->
       <!--default-autowire="byName">-->

    <!--<ds:datasource-config>-->
        <!--<ds:datasource-->
                <!--id="dataSource"-->
                <!--url="${mysql.c2c.url}"-->
                <!--username="${mysql.c2c.username}"-->
                <!--password="${mysql.c2c.password}"-->
                <!--max-pool-size="50"-->
                <!--default="true">-->
        <!--</ds:datasource>-->
    <!--</ds:datasource-config>-->

    <!--<ds:ibatis-config>-->
        <!--<ds:sql-map-client-->
                <!--id="sqlMapClient"-->
                <!--datasource-ref="dataSource"-->
                <!--config-location="classpath:sqlmap-config.xml"/>-->
    <!--</ds:ibatis-config>-->



<!--</beans>-->
