body {
    background-color: #eee;
    overflow: hidden;
}
#canvas {
    background-color: #eee;
    display: block;
    position: absolute;
    z-index: -10;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0 auto;
}